@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <br>
    <h1 class="display-4" style="position:center;">Welcome To Online Test Registration</h1>
    <!-- Add image -->
   <img src="/lib/img/img2.jpg" alt="ielts" style="width:100%">

    <p></p>
</div>
